body {
  margin-left: 2rem;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  display: flex;
  margin-bottom: 0.5rem;
}

button {
  margin-bottom: 0.2rem;
}

.list ul {
  border: solid thin grey;
}

#DoctorWho {
  background-color: rgb(64, 58, 184);
}

#GameofThrones {
  background-color: rgb(231, 70, 70);

}

#PeakyBlinders {
  background-color: rgb(81, 107, 130);

}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li > h4, p {
  margin: 0.4rem;
}
